### Segmenting and Clustering neighborhoods in Toronto

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

In [4]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [5]:
rows = soup.find_all('tr')
print(rows[:10])

[<tr>
<th>Postcode</th>
<th>Borough</th>
<th>Neighbourhood
</th></tr>, <tr>
<td>M1A</td>
<td>Not assigned</td>
<td>Not assigned
</td></tr>, <tr>
<td>M2A</td>
<td>Not assigned</td>
<td>Not assigned
</td></tr>, <tr>
<td>M3A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Parkwoods" title="Parkwoods">Parkwoods</a>
</td></tr>, <tr>
<td>M4A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Victoria_Village" title="Victoria Village">Victoria Village</a>
</td></tr>, <tr>
<td>M5A</td>
<td><a href="/wiki/Downtown_Toronto" title="Downtown Toronto">Downtown Toronto</a></td>
<td><a href="/wiki/Harbourfront_(Toronto)" title="Harbourfront (Toronto)">Harbourfront</a>
</td></tr>, <tr>
<td>M5A</td>
<td><a href="/wiki/Downtown_Toronto" title="Downtown Toronto">Downtown Toronto</a></td>
<td><a href="/wiki/Regent_Park" title="Regent Park">Regent Park</a>
</td></tr>, <tr>
<td>M6A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Lawrence_Heights" title="Lawrence Heights">Lawrence Heights</a>
</td></tr>, <tr>
<td>M6A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Lawrence_Manor" title="Lawrence Manor">Lawrence Manor</a>
</td></tr>, <tr>
<td>M7A</td>
<td><a href="/wiki/Queen%27s_Park_(Toronto)" title="Queen's Park (Toronto)">Queen's Park</a></td>
<td>Not assigned
</td></tr>]

In [7]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]

In [8]:
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]

str

In [9]:
df = pd.DataFrame(list_rows)
df.head(10)

                                         0
0                                       []
1      [M1A, Not assigned, Not assigned\n]
2      [M2A, Not assigned, Not assigned\n]
3           [M3A, North York, Parkwoods\n]
4    [M4A, North York, Victoria Village\n]
5  [M5A, Downtown Toronto, Harbourfront\n]
6   [M5A, Downtown Toronto, Regent Park\n]
7    [M6A, North York, Lawrence Heights\n]
8      [M6A, North York, Lawrence Manor\n]
9      [M7A, Queen's Park, Not assigned\n]

In [20]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[M4A,North York,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,[M5A,Downtown Toronto,Harbourfront\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,[M5A,Downtown Toronto,Regent Park\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,[M6A,North York,Lawrence Heights\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,[M6A,North York,Lawrence Manor\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,[M7A,Queen's Park,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [33]:
df1[0] = df1[0].str.strip('[')
df1[2] = df1[2].str.strip('\n]')

df2 = df1[[0,1,2]]
df2.head(5)

     0              1                  2
0    ]           None               None
1  M1A   Not assigned       Not assigned
2  M2A   Not assigned       Not assigned
3  M3A     North York          Parkwoods
4  M4A     North York   Victoria Village

In [35]:
col_labels = soup.find_all('th')
col_labels

[<th>Postcode</th>, <th>Borough</th>, <th>Neighbourhood
 </th>, <th class="navbox-title" style="font-size:110%"><a href="/wiki/Postal_codes_in_Canada" title="Postal codes in Canada">Canadian postal codes</a>
 </th>]

In [36]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[Postcode, Borough, Neighbourhood\n, Canadian postal codes\n]']

In [42]:
df3 = pd.DataFrame(all_header)
df3.head()

                                                   0
0  [Postcode, Borough, Neighbourhood\n, Canadian ...

In [44]:
df4 = df3[0].str.split(',', expand=True)
df4.head()

           0         1                 2                          3
0  [Postcode   Borough   Neighbourhood\n   Canadian postal codes\n]

In [46]:
df4[0] = df4[0].str.strip('[')
df4[2] = df4[2].str.strip('\n]')
df4 = df4[[0,1,2]]
df4.head(5)

          0         1               2
0  Postcode   Borough   Neighbourhood

In [47]:
frames = [df4, df2]

df5 = pd.concat(frames)
df5.head(10)

          0                  1                  2
0  Postcode            Borough      Neighbourhood
0         ]               None               None
1       M1A       Not assigned       Not assigned
2       M2A       Not assigned       Not assigned
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M5A   Downtown Toronto        Regent Park
7       M6A         North York   Lawrence Heights
8       M6A         North York     Lawrence Manor

In [48]:
df5 = df5.rename(columns=df5.iloc[0])
df5.head()

   Postcode        Borough   Neighbourhood
0  Postcode        Borough   Neighbourhood
0         ]           None            None
1       M1A   Not assigned    Not assigned
2       M2A   Not assigned    Not assigned
3       M3A     North York       Parkwoods

In [73]:
df6 = df5.dropna(axis=0, how='any')
df6.head()

   Postcode        Borough      Neighbourhood
0  Postcode        Borough      Neighbourhood
1       M1A   Not assigned       Not assigned
2       M2A   Not assigned       Not assigned
3       M3A     North York          Parkwoods
4       M4A     North York   Victoria Village

In [82]:
df7 = df6.drop(df6.index[0])

df7.columns = df7.columns.str.replace(' ', '')
df7.head()

  Postcode            Borough      Neighbourhood
1      M1A       Not assigned       Not assigned
2      M2A       Not assigned       Not assigned
3      M3A         North York          Parkwoods
4      M4A         North York   Victoria Village
5      M5A   Downtown Toronto       Harbourfront

In [91]:
# df7[df7.Borough != 'Not assigned']
# df[df.Name != 'Alisa']
#df.drop(df[df['Age'] < 25].index, inplace = True)
df7.drop(df7[df7['Borough']=='Not assigned'].index,inplace = True)
df7.head()

  Postcode            Borough      Neighbourhood
1      M1A       Not assigned       Not assigned
2      M2A       Not assigned       Not assigned
3      M3A         North York          Parkwoods
4      M4A         North York   Victoria Village
5      M5A   Downtown Toronto       Harbourfront